<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Include Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <h3 class="display-3">Player Management</h3>

    <div id="contents-main">
        <div th:if="${!isEdit}" id="contentAdd">
            <!--/*@thymesVar id="player" type="org.bytewright.springbootvue.jpa.entities.Player"*/-->
            <form th:action="@{'/manage/players/add'}" method="POST" th:object="${player}">
                <label for="name">Name:</label>
                <input type="text" id="name" required="true" th:placeholder="*{name}" th:value="*{name}"
                       th:field="*{name}"/>
            </form>
        </div>
        <div th:if="${isEdit}" id="contenEdit">
            <form th:action="@{'/manage/players/add'}" method="POST" th:object="${player}">
                <label for="name">Name:</label>
                <input type="text" id="name" required="true" th:placeholder="*{name}" th:value="*{name}"
                       th:field="*{name}"/>
            </form>
        </div>
        <div id="contentList">
            <h3>Spieler Liste</h3>
            <table border="1px solid">
                <thead>
                <tr>
                    <td>Vorname</td>
                    <td>Nachname</td>
                    <td>Spielstärke</td>
                    <td>Wohnort</td>
                    <td>DGoB</td>
                    <td>Geschlecht</td>
                    <td>Student</td>
                    <td>Reduziert</td>
                    <td>Edit</td>
                    <td>Löschen</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="player : ${playerList}">
                    <td><span th:text="${player.getFirstName()}"></span></td>
                    <td><span th:text="${player.getLastName()}"></span></td>
                    <td><span th:text="${player.getGoRank()}"></span></td>
                    <td><span th:text="${player.getCity()}"></span></td>
                    <td><span th:text="${player.getClubMember()}"></span></td>
                    <td><span th:text="${player.getGender()}"></span></td>
                    <td><span th:text="${player.getStudent()}"></span></td>
                    <td><span th:text="${player.getReducedFee()}"></span></td>
                    <td>
                        <a th:href="@{'/manage/players/edit?id=' + ${player.getId()}}"> <span>Edit</span> </a>
                    </td>
                    <td>
                        <a th:href="@{'/manage/players/delete?id=' + ${player.getId()}}"> <span>Löschen</span> </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>