<html>

<head>
    <title>Vue.js Pet Depot</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/app.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <meta charset="UTF-8">
</head>
<body>
<div id="app">
    <header>
        <div class="navbar navbar-default">
            <div class="navbar-header">
                <h1 v-text="sitename"></h1>
            </div>
        </div>
    </header>
    <main>

        <img height="300" width="400" alt="Map placeholder" src="map.png">
        <h1>Tournament List:</h1>
        <div v-for="tournament in tournaments">
            <table border="1px solid black">
                <thead>Tournament</thead>
                <tbody>
                <tr>
                    <td>
                        <img src="img.png" alt="placeholder img">
                    </td>
                    <td>
                        <div class="tournament-cell">
                            Name: <p v-text="tournament.name"></p>
                            Start: <p v-text="tournament.startDate"></p>
                            Ende: <p v-text="tournament.endDate"></p>
                            Tage: ---
                            Addresse <p v-text="tournament.address"></p>
                            Runden: <p v-text="tournament.roundCount"></p>
                            link: <p v-text="tournament.pageUrlPath"></p>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <hr/>
        </div>
        <h1>all tournaments listed</h1>
    </main>
</div>
<script type="text/javascript">
    const url = "[[${tournamentListUrl}]]";
    let webstore = new Vue({
        el: '#app',
        data: {
            sitename: "Vue.js tournament organisator",
            tournaments: []
        },
        created: function () {
            console.log("created, connecting to: " + url);
            const that = this;
            fetch(url, {
                method: 'get'
            }).then(function (jsonRaw) {
                return jsonRaw.json();
            }).then(function (json) {
                that.tournaments = json["tournaments"];
                console.log(that.tournaments);
            }).catch(function (err) {
                console.log("error: " + err)
            });
        }
    });

</script>
</body>

</html>