<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Include Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <title>Go Tournament Manager</title>
</head>
<body>
<div class="container-fluid">
    <h2 class="display-2">Go Tournament Manager - GTM</h2>
    <table border="1px solid">
        <thead>
        <tr>
            <td>Tuniername</td>
            <td>Startdatum</td>
            <td>Enddatum</td>
            <td>Ort</td>
            <td>Page</td>
            <td>Manage</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tournament : ${tournamentList}">
            <td th:text="${tournament.getName()}">A Smoke Test</td>
            <td th:text="${tournament.getStartDate()}">A Smoke Test</td>
            <td th:text="${tournament.getEndDate()}">A Smoke Test</td>
            <td th:text="${tournament.getLocationAddress()}">A Smoke Test</td>
            <td><a th:href="${tournament.getPageUrlPath()+'/'}">Page</a></td>
            <td><a th:href="${tournament.getPageUrlPath()+'/admin/'}"></a>Manage</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <h2>Neues Tounier erstellen</h2>
    <form method="post" th:action="@{/tournaments/create/}" th:object="${newConfig}">
        <p>Name: <label> label
            <input th:field="*{name}" type="text"/>
        </label></p>
        <p>Adresse: <input th:field="*{locationAddress}" type="text"/></p>
        <p>URL: <input th:field="*{pageUrlPath}" type="text"/></p>
        <p>Start: <input th:field="*{startDate}" type="datetime-local"/></p>
        <p>Ende: <input th:field="*{endDate}" type="datetime-local"/></p>
        <button type="submit">Erstellen</button>
    </form>
</div>
</body>
</html>